<a href="https://colab.research.google.com/github/jdr98/JabaliSalvajeTP1/blob/JabaliSalavaje/Copia_de_TP1_Jabali_Salvaje.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline


url = "https://raw.githubusercontent.com/jdr98/JabaliSalvajeTP1/master/train.csv"

In [0]:
df = pd.read_csv(url)

In [204]:
# ver primeras lineas del DF
df.head()

   id keyword  ...                                               text target
0   1     NaN  ...  Our Deeds are the Reason of this #earthquake M...      1
1   4     NaN  ...             Forest fire near La Ronge Sask. Canada      1
2   5     NaN  ...  All residents asked to 'shelter in place' are ...      1
3   6     NaN  ...  13,000 people receive #wildfires evacuation or...      1
4   7     NaN  ...  Just got sent this photo from Ruby #Alaska as ...      1

[5 rows x 5 columns]

In [205]:
# Cuantas filas y columnas hay
# 7613 filas por 5 columnas
df

         id keyword  ...                                               text target
0         1     NaN  ...  Our Deeds are the Reason of this #earthquake M...      1
1         4     NaN  ...             Forest fire near La Ronge Sask. Canada      1
2         5     NaN  ...  All residents asked to 'shelter in place' are ...      1
3         6     NaN  ...  13,000 people receive #wildfires evacuation or...      1
4         7     NaN  ...  Just got sent this photo from Ruby #Alaska as ...      1
...     ...     ...  ...                                                ...    ...
7608  10869     NaN  ...  Two giant cranes holding a bridge collapse int...      1
7609  10870     NaN  ...  @aria_ahrary @TheTawniest The out of control w...      1
7610  10871     NaN  ...  M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...      1
7611  10872     NaN  ...  Police investigating after an e-bike collided ...      1
7612  10873     NaN  ...  The Latest: More Homes Razed by Northern Calif...      1

[7613 rows x 5 columns]

In [162]:
df.columns

Index(['id', 'keyword', 'location', 'text', 'target'], dtype='object')

In [206]:
# tipo de dato de cada columna
df.dtypes

id           int64
keyword     object
location    object
text        object
target       int64
dtype: object

In [207]:
# agrupo por ciudad
agrupado_ciudad = df.groupby(['location', 'text'])
agrupado_ciudad.mean()

                                                                                id  target
location               text
                       Maybe that's what happens when a tornado meets ...   9703.0     1.0
  Glasgow              @Caitsroberts see U the night wee bArra to get ...  10822.0     0.0
  Melbourne, Australia @DestinyTheGame @Bungie @PlayStation Getting ki...   2579.0     0.0
  News                 70 Years After Atomic Bombs Japan Still Struggl...   3955.0     1.0
  å_                   WCW @catsandsyrup THA BITCH IS FIRE                  5338.0     0.0
...                                                                            ...     ...
å_: ?? ÌÑ ? : ?        someone just reblogged a picture of self harm s...   5918.0     0.0
å_å_Los Mina Cityã¢   Hollywood Movie About Trapped Miners Released i...   9788.0     0.0
å¡å¡Midwest Û¢Û¢     @sarahmcpants @JustJon I'll give him a titty tw...  10023.0     0.0
åÊ(?Û¢`?Û¢å«)??      @junsuisengen changing my weapon!                   10293.0     0.0
åø\_(?)_/åø            On the eve of Jon Stewart leaving The Daily Sho...   3478.0     1.0

[5044 rows x 2 columns]

In [208]:
# contar por location

tweet_per_location = df['location'].value_counts()
tweet_per_location

USA                               104
New York                           71
United States                      50
London                             45
Canada                             29
                                 ...
Toronto-Citizen of Canada & US      1
Richmond Heights, OH                1
?^åá??åá?^?? ??                     1
BILASPUR,CHHATTISGARH,495001        1
RSN: Tru                            1
Name: location, Length: 3341, dtype: int64

In [209]:
# 
df['text'].iloc[-10:-1]

7570    Cramer: Iger's 3 words that wrecked Disney's s...
7571    @Caitsroberts see U the night wee bArra to get...
7572    @Kirafrog @mount_wario Did you get wrecked again?
7573    Had an awesome time gettin wrecked at bowling ...
7574    Cramer: 3 words that wrecked DIS stock - http:...
7575    On the bright side I wrecked http://t.co/uEa0t...
7577    @widda16 ... He's gone. You can relax. I thoug...
7579    Three days off from work and they've pretty mu...
7580    #FX #forex #trading Cramer: Iger's 3 words tha...
Name: text, dtype: object

In [211]:
# contar tweet mas compartidos
tweet_per_text = df['text'].value_counts()
tweet_per_text.head()

#Bestnaijamade: 16yr old PKK suicide bomber who detonated bomb in ... http://t.co/KSAwlYuX02 bestnaijamade bestnaijamade bestnaijamade beÛ_    6
11-Year-Old Boy Charged With Manslaughter of Toddler: Report: An 11-year-old boy has been charged with manslaughter over the fatal sh...        4
.POTUS #StrategicPatience is a strategy for #Genocide; refugees; IDP Internally displaced people; horror; etc. https://t.co/rqWuoy1fm4          4
@TinyJecht Are you another Stand-user? If you are I will have to detonate you with my Killer Queen.                                             3
@spinningbot Are you another Stand-user? If you are I will have to detonate you with my Killer Queen.                                           3
Name: text, dtype: int64

In [212]:
# contar tweets por keyword
tweet_per_kw = df['keyword'].value_counts()
tweet_per_kw

collision                36
whirlwind                33
armageddon               32
fatalities               32
sandstorm                31
                         ..
razed                    10
epicentre                 9
detonation                8
radiation%20emergency     6
inundation                5
Name: keyword, Length: 221, dtype: int64

In [213]:
# cuantos tweets son reales (1) y cuantos NO lo son (0)
tweet_real_or_not = df['target'].value_counts()
tweet_real_or_not

0    2884
1    2196
Name: target, dtype: int64

In [216]:
df.isnull()

         id  keyword  location   text  target
0     False     True      True  False   False
1     False     True      True  False   False
2     False     True      True  False   False
3     False     True      True  False   False
4     False     True      True  False   False
...     ...      ...       ...    ...     ...
7608  False     True      True  False   False
7609  False     True      True  False   False
7610  False     True      True  False   False
7611  False     True      True  False   False
7612  False     True      True  False   False

[7613 rows x 5 columns]

In [217]:
# Ver último 10 celdas
df.head(10)

   id keyword  ...                                               text target
0   1     NaN  ...  Our Deeds are the Reason of this #earthquake M...      1
1   4     NaN  ...             Forest fire near La Ronge Sask. Canada      1
2   5     NaN  ...  All residents asked to 'shelter in place' are ...      1
3   6     NaN  ...  13,000 people receive #wildfires evacuation or...      1
4   7     NaN  ...  Just got sent this photo from Ruby #Alaska as ...      1
5   8     NaN  ...  #RockyFire Update => California Hwy. 20 closed...      1
6  10     NaN  ...  #flood #disaster Heavy rain causes flash flood...      1
7  13     NaN  ...  I'm on top of the hill and I can see a fire in...      1
8  14     NaN  ...  There's an emergency evacuation happening now ...      1
9  15     NaN  ...  I'm afraid that the tornado is coming to our a...      1

[10 rows x 5 columns]

In [231]:
#Limpiar NaN del data frame
df.dropna(inplace = True)
print(len(df))

5080

In [232]:
df.tail(10)

         id  keyword  ...                                               text target
7570  10821  wrecked  ...  Cramer: Iger's 3 words that wrecked Disney's s...      0
7571  10822  wrecked  ...  @Caitsroberts see U the night wee bArra to get...      0
7572  10823  wrecked  ...  @Kirafrog @mount_wario Did you get wrecked again?      1
7573  10824  wrecked  ...  Had an awesome time gettin wrecked at bowling ...      0
7574  10825  wrecked  ...  Cramer: 3 words that wrecked DIS stock - http:...      0
7575  10826  wrecked  ...  On the bright side I wrecked http://t.co/uEa0t...      0
7577  10829  wrecked  ...  @widda16 ... He's gone. You can relax. I thoug...      0
7579  10831  wrecked  ...  Three days off from work and they've pretty mu...      0
7580  10832  wrecked  ...  #FX #forex #trading Cramer: Iger's 3 words tha...      0
7581  10833  wrecked  ...  @engineshed Great atmosphere at the British Li...      0

[10 rows x 5 columns]

In [220]:
#Defino Id como indice
df_id = df.set_index(['id'])
df_id

       keyword  ... target
id              ...
48      ablaze  ...      1
49      ablaze  ...      0
50      ablaze  ...      1
52      ablaze  ...      0
53      ablaze  ...      0
...        ...  ...    ...
10826  wrecked  ...      0
10829  wrecked  ...      0
10831  wrecked  ...      0
10832  wrecked  ...      0
10833  wrecked  ...      0

[5080 rows x 4 columns]

In [222]:
# Renombro columna target y text
col_rename={'target':'(NOT)real', 'text':'content_tweet'}
df_renom_col = df.rename(columns = col_rename)
df_renom_col

         id  ... (NOT)real
31       48  ...         1
32       49  ...         0
33       50  ...         1
34       52  ...         0
35       53  ...         0
...     ...  ...       ...
7575  10826  ...         0
7577  10829  ...         0
7579  10831  ...         0
7580  10832  ...         0
7581  10833  ...         0

[5080 rows x 5 columns]

In [223]:
# agrupar por location
grouped_location = df.groupby(['location']).size().nlargest(20)
grouped_location

location
USA                104
New York            71
United States       50
London              45
Canada              29
Nigeria             28
UK                  27
Los Angeles, CA     26
India               24
Mumbai              22
Washington, DC      21
Kenya               20
Worldwide           19
Australia           18
Chicago, IL         18
California          17
California, USA     15
Everywhere          15
New York, NY        15
Florida             14
dtype: int64

In [0]:
# agrupar por keyword
grouped_kw = df.groupby(['keyword']).size().nlargest(20)
grouped_kw

In [226]:
# agrupo por tweet

grouped_text = df.groupby(['text']).size().nlargest(10)
grouped_text

text
#Bestnaijamade: 16yr old PKK suicide bomber who detonated bomb in ... http://t.co/KSAwlYuX02 bestnaijamade bestnaijamade bestnaijamade beÛ_    6
.POTUS #StrategicPatience is a strategy for #Genocide; refugees; IDP Internally displaced people; horror; etc. https://t.co/rqWuoy1fm4          4
11-Year-Old Boy Charged With Manslaughter of Toddler: Report: An 11-year-old boy has been charged with manslaughter over the fatal sh...        4
#Allah describes piling up #wealth thinking it would last #forever as the description of the people of #Hellfire in Surah Humaza. #Reflect      3
@TinyJecht Are you another Stand-user? If you are I will have to detonate you with my Killer Queen.                                             3
@spinningbot Are you another Stand-user? If you are I will have to detonate you with my Killer Queen.                                           3
Madhya Pradesh Train Derailment: Village Youth Saved Many Lives                                                                                 3
Wreckage 'Conclusively Confirmed' as From MH370: Malaysia PM                                                                                    3
#Myanmar  Displaced #Rohingya at #Sittwe point of no return http://t.co/cgf61fPmR0  #Prison like conditions #genocide IHHen MSF Refugees        2
#Newswatch: 2 vehicles collided at Lock and Lansdowne Sts in #Ptbo. Emerg crews on their way                                                    2
dtype: int64

In [227]:
# Traigo todos los tweets con la kw collision (36)
df_kw = df.loc[df['keyword'].str.contains('collision'),:]
df_kw
#df_kw.count()

        id  ... target
1739  2504  ...      1
1740  2505  ...      1
1741  2506  ...      1
1744  2510  ...      1
1745  2512  ...      1
1746  2513  ...      0
1747  2514  ...      0
1748  2515  ...      1
1749  2516  ...      1
1750  2517  ...      1
1751  2519  ...      1
1752  2520  ...      0
1753  2521  ...      0
1754  2523  ...      0
1755  2524  ...      0
1756  2527  ...      1
1757  2528  ...      1
1758  2530  ...      1
1759  2531  ...      0
1760  2532  ...      1
1761  2534  ...      1
1762  2535  ...      1
1763  2536  ...      1
1764  2537  ...      1
1766  2539  ...      1
1767  2540  ...      1
1768  2541  ...      1
1769  2542  ...      0
1770  2543  ...      1
1771  2544  ...      1
1772  2545  ...      1
1773  2546  ...      1
1774  2547  ...      1
1775  2548  ...      1
1776  2550  ...      0
1777  2552  ...      0

[36 rows x 5 columns]

In [228]:
# Traigo todos los tweets con la palabra collision en el texto (17)
df_text = df.loc[df['text'].str.contains('collision'),:]
df_text 
#df_text.count()

        id  ... target
1739  2504  ...      1
1740  2505  ...      1
1748  2515  ...      1
1749  2516  ...      1
1750  2517  ...      1
1756  2527  ...      1
1760  2532  ...      1
1761  2534  ...      1
1763  2536  ...      1
1764  2537  ...      1
1766  2539  ...      1
1769  2542  ...      0
1773  2546  ...      1
1774  2547  ...      1
1777  2552  ...      0
2460  3528  ...      1
3641  5190  ...      1

[17 rows x 5 columns]

In [230]:
df.head()

    id keyword  ...                                               text target
31  48  ablaze  ...  @bbcmtd Wholesale Markets ablaze http://t.co/l...      1
32  49  ablaze  ...  We always try to bring the heavy. #metal #RT h...      0
33  50  ablaze  ...  #AFRICANBAZE: Breaking news:Nigeria flag set a...      1
34  52  ablaze  ...                 Crying out for more! Set me ablaze      0
35  53  ablaze  ...  On plus side LOOK AT THE SKY LAST NIGHT IT WAS...      0

[5 rows x 5 columns]