<a href="https://colab.research.google.com/github/jdr98/JabaliSalvajeTP1/blob/JabaliSalavaje/Copia_de_TP1_Jabali_Salvaje.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline


url = "https://raw.githubusercontent.com/jdr98/JabaliSalvajeTP1/master/train.csv"

In [0]:
df = pd.read_csv(url)

In [17]:
# ver primeras lineas del DF
df.head()

   id keyword  ...                                               text target
0   1     NaN  ...  Our Deeds are the Reason of this #earthquake M...      1
1   4     NaN  ...             Forest fire near La Ronge Sask. Canada      1
2   5     NaN  ...  All residents asked to 'shelter in place' are ...      1
3   6     NaN  ...  13,000 people receive #wildfires evacuation or...      1
4   7     NaN  ...  Just got sent this photo from Ruby #Alaska as ...      1

[5 rows x 5 columns]

In [18]:
# Cuantas filas y columnas hay
# 7613 filas por 5 columnas
df

         id keyword  ...                                               text target
0         1     NaN  ...  Our Deeds are the Reason of this #earthquake M...      1
1         4     NaN  ...             Forest fire near La Ronge Sask. Canada      1
2         5     NaN  ...  All residents asked to 'shelter in place' are ...      1
3         6     NaN  ...  13,000 people receive #wildfires evacuation or...      1
4         7     NaN  ...  Just got sent this photo from Ruby #Alaska as ...      1
...     ...     ...  ...                                                ...    ...
7608  10869     NaN  ...  Two giant cranes holding a bridge collapse int...      1
7609  10870     NaN  ...  @aria_ahrary @TheTawniest The out of control w...      1
7610  10871     NaN  ...  M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...      1
7611  10872     NaN  ...  Police investigating after an e-bike collided ...      1
7612  10873     NaN  ...  The Latest: More Homes Razed by Northern Calif...      1

[7613 rows x 5 columns]

In [19]:
df.columns

Index(['id', 'keyword', 'location', 'text', 'target'], dtype='object')

In [20]:
# tipo de dato de cada columna
df.dtypes

id           int64
keyword     object
location    object
text        object
target       int64
dtype: object

In [21]:
# agrupo por ciudad
agrupado_ciudad = df.groupby(['location', 'text'])
agrupado_ciudad.mean()

                                                                                id  target
location               text
                       Maybe that's what happens when a tornado meets ...   9703.0     1.0
  Glasgow              @Caitsroberts see U the night wee bArra to get ...  10822.0     0.0
  Melbourne, Australia @DestinyTheGame @Bungie @PlayStation Getting ki...   2579.0     0.0
  News                 70 Years After Atomic Bombs Japan Still Struggl...   3955.0     1.0
  å_                   WCW @catsandsyrup THA BITCH IS FIRE                  5338.0     0.0
...                                                                            ...     ...
å_: ?? ÌÑ ? : ?        someone just reblogged a picture of self harm s...   5918.0     0.0
å_å_Los Mina Cityã¢   Hollywood Movie About Trapped Miners Released i...   9788.0     0.0
å¡å¡Midwest Û¢Û¢     @sarahmcpants @JustJon I'll give him a titty tw...  10023.0     0.0
åÊ(?Û¢`?Û¢å«)??      @junsuisengen changing my weapon!                   10293.0     0.0
åø\_(?)_/åø            On the eve of Jon Stewart leaving The Daily Sho...   3478.0     1.0

[5044 rows x 2 columns]

In [22]:
# contar por location

tweet_per_location = df['location'].value_counts()
tweet_per_location

USA                     104
New York                 71
United States            50
London                   45
Canada                   29
                       ...
MUM-DEL                   1
2 high 2 come down        1
Near Richmond, VA         1
Augusta, GA               1
Brasil, Fortaleza ce      1
Name: location, Length: 3341, dtype: int64

In [23]:
# 
df['text'].iloc[-10:-1]

7603    Officials say a quarantine is in place at an A...
7604    #WorldNews Fallen powerlines on G:link tram: U...
7605    on the flip side I'm at Walmart and there is a...
7606    Suicide bomber kills 15 in Saudi security site...
7607    #stormchase Violent Record Breaking EF-5 El Re...
7608    Two giant cranes holding a bridge collapse int...
7609    @aria_ahrary @TheTawniest The out of control w...
7610    M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...
7611    Police investigating after an e-bike collided ...
Name: text, dtype: object

In [24]:
# contar tweet mas compartidos
tweet_per_text = df['text'].value_counts()
tweet_per_text

11-Year-Old Boy Charged With Manslaughter of Toddler: Report: An 11-year-old boy has been charged with manslaughter over the fatal sh...        10
#Bestnaijamade: 16yr old PKK suicide bomber who detonated bomb in ... http://t.co/KSAwlYuX02 bestnaijamade bestnaijamade bestnaijamade beÛ_     6
The Prophet (peace be upon him) said 'Save yourself from Hellfire even if it is by giving half a date in charity.'                               6
He came to a land which was engulfed in tribal war and turned it into a land of peace i.e. Madinah. #ProphetMuhammad #islam                      6
Madhya Pradesh Train Derailment: Village Youth Saved Many Lives                                                                                  5
                                                                                                                                                ..
the new quest type is 'level up quest'. its an always present quest with x2 exp designed to help people level up outside of emergency quests     1
All I got in this world is my bros I don't wanna see no harm come they way Ima lil upset right now ??                                            1
SSP East says a car AEG 061 driven by a young man collided with Akram's carhot words were exchanged n he did firing in air1bullet hit tyre       1
Waldo Thunder 12U Cooperstown Dreams Park 2015 dedicated to #JoeStrong #GoKitGo http://t.co/eSK4yvzvaP                                           1
Seven Chinese Christians Are Detained Amid Widespread Anger Over Cross Demolition http://t.co/65xR1p9sOO                                         1
Name: text, Length: 7503, dtype: int64

In [25]:
# contar tweets por keyword
tweet_per_kw = df['keyword'].value_counts()
tweet_per_kw

fatalities               45
deluge                   42
armageddon               42
body%20bags              41
damage                   41
                         ..
forest%20fire            19
epicentre                12
threat                   11
inundation               10
radiation%20emergency     9
Name: keyword, Length: 221, dtype: int64

In [26]:
# cuantos tweets son reales (1) y cuantos NO lo son (0)
tweet_real_or_not = df['target'].value_counts()
tweet_real_or_not

0    4342
1    3271
Name: target, dtype: int64

In [27]:
df.isnull()

         id  keyword  location   text  target
0     False     True      True  False   False
1     False     True      True  False   False
2     False     True      True  False   False
3     False     True      True  False   False
4     False     True      True  False   False
...     ...      ...       ...    ...     ...
7608  False     True      True  False   False
7609  False     True      True  False   False
7610  False     True      True  False   False
7611  False     True      True  False   False
7612  False     True      True  False   False

[7613 rows x 5 columns]